.intro-container {
  background-color: #1363df;
  color: #dff6ff;
  padding-bottom: 10%;
}

.intro-content {
  display: flex;
  margin: 0 5%;
}

.intro-text-container {
  margin-right: 40%;
}

.intro-image-1 {
  position: absolute;
}

.intro-image-2 {
  position: absolute;
}

.intro-image-3 {
  position: absolute;
}
